body {
    font-family: Verdana;
    font-size: 18px;
  }
  
  *{
    box-sizing: border-box;
  }
  
  table {
    border: 2px solid gray;
    border-collapse: collapse;
    margin-top: 1em;
    text-align: center;
  }
  
  th, td {
    border: 2px solid gray;
    padding:.2em;
  }
  
  .button{
    background-color: rgb(70, 184, 70);
    color: black;
    text-decoration: none;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: .3rem .3rem 0 rgba(0, 0, 0, 0.493);
    margin: 1rem;
    transition: box-shadow cubic-bezier(1, 0.01, 0, 0.92) .3s;
  }
  
  .button:hover{
    box-shadow: .2rem .2rem 0 rgba(0, 0, 0, 0.6);
  }